*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Tajawal", serif;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 450px;
}

form {
    width: 100%;
}

.flex-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}

.flex-form, #entrar {
    width: 100%;
}

@media (max-width: 768px) {
    .container{
        width: 90%;
    }
}

.erro{
    color: #e44;
}